In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
# Dataset URL: https://raw.githubusercontent.com/beoutbreakprepared/nCoV2019/master/latest_data/latestdata.csv

In [3]:
train = pd.read_csv("covid2train.csv", index_col = 0)

In [4]:
def clean(train):
    features = ['age', 'sex', 'country', 'chronic_disease_binary','travel_history_binary', 'que_paso']
    xtrain = train[features].drop('que_paso', axis = 1)
    ytrain = train['que_paso']

# Dropping NA's from only 'sex' + 'country'    
    subset = xtrain.dropna(subset = ['age','sex','country'])
    countries = xtrain['country'].drop_duplicates().dropna()

# Replacing the age ranges with their means    
    mp = {'20-29': np.mean([20,29]), '40-49': np.mean([40,49]),'50-59': np.mean([50,59]),
          '60-69': np.mean([60,69]), '70-79': np.mean([70,79]),
          '80-89': np.mean([80,89]),'90-99': np.mean([90,99]), '80-': 80}
    
# Dictionary replacing countries with numerical values
    mp2 = {}
    key = np.arange(len(countries) + 1)
    for i,j in zip(countries,key):
        val = {i:j}
        mp2.update(val)
        
# Updating the training data with new values
    subset = subset.replace(mp).replace(mp2)
    subset['chronic_disease_binary'] = subset['chronic_disease_binary']*1
    subset['age'] = subset['age'].astype(float)

    return subset

In [5]:
clean(train)

           age     sex  country  chronic_disease_binary travel_history_binary
1.0       78.0    male        1                       0                   NaN
2.0       61.0  female        2                       0                   NaN
113.0     28.0    male        2                       0                   NaN
224.0     56.0  female        2                       0                   NaN
335.0     79.0  female        2                       0                   NaN
...        ...     ...      ...                     ...                   ...
217292.0  84.5  female       15                       0                 False
217293.0  44.5  female       15                       0                 False
226430.0  80.0  female       15                       0                 False
228855.0  94.5  female       15                       0                 False
229810.0  54.5    male       15                       0                 False

[673 rows x 5 columns]